/*------------------------------------------------------------------
[Green Color Stylesheet]

Project:    Angular Based Personal Website Styles
Version:    0.1.0
Date:    09/2015
Author:    Tuxsanov
-------------------------------------------------------------------*/

.primary {
    background-color: #4CAF50;
}

.warn {
    background-color: #F44336;
}

.accent {
    background-color: #E91E63;
}

.primary-font {
    color: #4CAF50;
}

.warn-font {
    color: #F44336;
}

.accent-font {
    color: #E91E63;
}
