/*------------------------------------------------------------------
[Yellow Color Stylesheet]

Project:    Angular Based Personal Website Styles
Version:    0.1.0
Date:    09/2015
Author:    Tuxsanov
-------------------------------------------------------------------*/

.primary {
    background-color: #FF9800;
}

.warn {
    background-color: #D32F2F;
}

.accent {
    background-color: #FF5252;
}

.primary-font {
    color: #FF9800;
}

.warn-font {
    color: #D32F2F;
}

.accent-font {
    color: #FF5252;
}
