<!DOCTYPE html>
<html lang="en" data-ng-app="personalWebsiteApp">

<head>
    <!-- if your hosting hosted directly you can leave the base href as is if you upload with some roots then you can specify the root otherwise it will make erorrs -->
    <base href="/">
    <meta charset="UTF-8">
    <title>pkuzhel's portfolio</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- this ng-href for color picking demo purposes only anytime you can delete and you can choose certain color -->
    <!-- <link rel="stylesheet" data-ng-href="{{colors}}" href="/"> -->
    <!-- uncomment stylesheet if you want to remove ng-href color picker demo -->
    <link rel="stylesheet" href="css/blue.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="css/all.css">
    <!-- <link rel="stylesheet" href="css/third.css"> -->
</head>

<body data-ng-controller="personalWebsiteAppController">
    <!-- this color changer for demo purposes only you can completely get rid of it -->
    <!-- <div class="color-changer" data-ng-class="{'color-changer-hiden':!colorContainer}">
        <div class="color-changer-icon" data-ng-click="openColorChanger()"></div>
        <h3>Choose the color</h3>
        <div class="blue" data-ng-click="openColorChanger();changeColor('css/blue.css')"></div>
        <div class="green" data-ng-click="openColorChanger();changeColor('css/green.css')"></div>
        <div class="red" data-ng-click="openColorChanger();changeColor('css/red.css')"></div>
        <div class="brown" data-ng-click="openColorChanger();changeColor('css/brown.css')"></div>
        <div class="yellow" data-ng-click="openColorChanger();changeColor('css/yellow.css')"></div>
    </div> -->
    <!-- LOADERS -->
    <div class="loads">
        <div class="pre-loader" data-ng-if="loader">
            <img src="img/icons/load.svg" alt="img/icons/load.svg">
        </div>
        <h1 data-ng-if="loader">pkuzhel's portfolio</h1>
    </div>
    <div class="pre-loader" data-ng-if="loader">
        <img src="img/icons/load.svg" alt="img/icons/load.svg">
    </div>
    <!-- Home page starts -->
    <div class="homePage">
        <div class="top-nav primary" id="theMain">
            <ul class="top-nav-socials">
                <li>
                    <a href="//twitter.com/pkuzhel" class="social-icons fa fa-twitter"></a>
                </li>
                <li>
                    <a href="//ca.linkedin.com/in/pkuzhel" class="social-icons fa fa-linkedin"></a>
                </li>
                <li>
                    <a href="//github.com/pkuzhel" class="social-icons fa fa-github"></a>
                </li>
            </ul>
            <div class="top-nav-avatar">
                <div class="load-data" data-path="contents/about.html">
                    <img src="img/me-1.jpg" alt="" class="top-avatar">
                </div>
                <h2>Pavlo Kuzhel </h2>
                <p>DEVELOPER
                </p>
            </div>
        </div>
        <span class="mobile-menu" data-ng-click="openMenu()">
        </span>
        <div class="left-side" data-ng-click="closeMenu()">
            <nav>
                <ul class="menu-list">
                    <li class="load-data nav-home" data-path="contents/about.html"><i class="fa fa-user"></i>About</li>
                    <li class="load-data" data-path="contents/resume.html"><i class="fa fa-user"></i>Resume</li>
                    <li class="load-data" data-path="contents/portfolio.html"><i class="fa fa-image"></i>Portfolio</li>
                    <li class="load-data" data-path="contents/contact.html"><i class="fa fa-envelope-o"></i>Contact</li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="right-side">
                    <div class="main-container"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home page ends -->
    <!-- Angular libraries & Modules-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <!-- Custom Scripts -->
    <!-- ... -->
    <script src="js/main.js"></script>
</body>

</html>
