<section class="full-width-container">
  <!-- <div data-ng-include="loadViews" class="slide-top" data-ng-if="menu"></div> -->
    <div class="about-page">
        <h1 class="title primary-font">About me</h1>
        <!-- <img class="carousel-image" src="img/me.jpg" alt="img/me.jpg"> -->
        <div class="info-content">
            <h3 class="title">
                Coding. Travel. Food. Photography.
            </h3>
            <p>
              Those are the four words that sum it all up. I enjoy problem-solving and coding. The harder the problem, the more fun.
            </p>
            <p>
              During my free time, I love to explore new destinations and food. As I travel, I like to photograph everything around me.
            </p>
            <p>
              Here are some examples of what I mean:
            </p>
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-sm-6" ng-repeat="elm in mainpTravel">
                    <div class="thumbnail">
                      <img src="{{elm.img}}"/>
                      <div class="caption">
                        <h5>{{elm.title}}</h5>
                      </div>
                    </div>
                  </div>
                  </div>
              </div>
            </div>

        </div>
    </div>
</section>
