<section class="left-side-container">
    <div data-ng-include="loadViews" class="slide-top" data-ng-if="menu"></div>
    <div class="blog-page" data-ng-if="!menu">
        <div class="title primary-font">Blog Page</div>
        <div class="info-content" ng-repeat="elm in mainBlog">
            <img ng-src="{{elm.blogImg}}" alt="" class="blog-image" ng-show="elm.blogImg">
            <iframe width="65%" height="315" ng-src="{{elm.blogIframe | trusted}}" frameborder="0" ng-show="elm.blogIframe" allowfullscreen></iframe>
            <h2 class="title loading-items" path="{{elm.path}}">{{elm.title}}</h2>
            <ul class="data">
                <li><i class="name"></i>{{elm.author}}</li>
                <li><i class="date"></i>{{elm.date}}</li>
                <li><i class="comments"></i>{{elm.commentsNumber}}</li>
            </ul>
            <p>{{elm.description}}</p>
        </div>
        <!-- <div class="info-content">
            <iframe width="65%" height="315" src="https://www.youtube.com/embed/ARM42-eorzE" frameborder="0" allowfullscreen></iframe>
            <h2 class="title loading-items" path="contents/single-blog.html">Man i wherein great tree divide multiply beginning appear for.</h2>
            <ul class="data">
                <li><i class="name"></i>Debra Bryant</li>
                <li><i class="date"></i>15/07/2015</li>
                <li><i class="comments"></i>+21 comments</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis, quia enim soluta, possimus voluptatibus ea nam natus vel sed aspernatur nihil voluptas fugiat pariatur nemo odio atque tempore.</p>
        </div>
        <div class="info-content">
            <iframe width="65%" height="315" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/65833474&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            <h2 class="title loading-items" path="contents/single-blog.html">Heaven beginning dry own moved male form own him waters.</h2>
            <ul class="data">
                <li><i class="name"></i>Beverly Richardson</li>
                <li><i class="date"></i>22/06/2015</li>
                <li><i class="comments"></i>+12 comments</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis, quia enim soluta, possimus voluptatibus ea nam natus vel sed aspernatur nihil voluptas fugiat pariatur nemo odio atque tempore.</p>
        </div>
        <div class="info-content">
            <div id="carouseId" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouseId" data-slide-to="0" class="active"></li>
                    <li data-target="#carouseId" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="img/blog/5.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="img/blog/6.jpg" alt="">
                    </div>
                </div>
            </div>
            <h2 class="title loading-items" path="contents/single-blog.html">Moving face good wherein dominion sea hath tree said beginning.</h2>
            <ul class="data">
                <li><i class="name"></i>Sara Young</li>
                <li><i class="date"></i>3/06/2015</li>
                <li><i class="comments"></i>+14 comments</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis, quia enim soluta, possimus voluptatibus ea nam natus vel sed aspernatur nihil voluptas fugiat pariatur nemo odio atque tempore.</p>
        </div> -->
        <div class="pagination">
            <a href="" class="page-num current">1</a>
            <a href="" class="page-num">2</a>
            <a href="" class="page-num">3</a>
            <a href="" class="page-num dots">...</a>
            <a href="" class="page-num">6</a>
            <a href="" class="page-num next">next</a>
        </div>
    </div>
</section>
<aside class="right-side-container">
    <div class="blog-page">
        <div class="title primary-font">Categories</div>
        <div class="info-content">
            <ul>
                <li class="info">
                    <a href="">
                        web design        
                    </a>
                </li>
                <li class="info">
                    <a href="">
                        web development        
                    </a>
                </li>
                <li class="info">
                    <a href="">
                        logo design        
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="blog-page">
        <div class="title primary-font">Tags</div>
        <div class="info-content">
            <ul>
                <li class="tags">
                    <a href="">
                        design
                    </a>
                </li>
                <li class="tags">
                    <a href="">
                        web
                    </a>
                </li>
                <li class="tags">
                    <a href="">
                        logo
                    </a>
                </li>
                <li class="tags">
                    <a href="">
                        ios
                    </a>
                </li>
                <li class="tags">
                    <a href="">
                        wordpress
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="blog-page">
        <div class="title primary-font">Recent posts</div>
        <div class="info-content">
            <ul>
                <li class="info">
                    <a href="">
                        Title of the Speinsburgh page
                    </a>
                </li>
                <li class="info">
                    <a href="">
                        Title of the Speinsburgh page
                    </a>
                </li>
                <li class="info">
                    <a href="">
                        Title of the Speinsburgh page
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
