<section class="full-width-container">
    <div class="contact-page">
        <div class="title primary-font">Contact</div>
            <div class="info-content">
                <p>Feel free to reach out to me. You can find me on twitter <a href="//twitter.com/pkuzhel">@pkuzhel</a>, email me @ pavlo.kuzhel [at] gmail.com,  or submit the form below:</p>
                <h1 class="title" data-ng-show="user.fullname">Hello {{user.fullname}}</h1>
                <p data-ng-show="user.email">We will contact to you with this {{user.email}} address</p>
                <form name="form" class="main-form">
                    <div class="contents">
                        <input type="text" name="userName" ng-model="user.fullname" required>
                        <span class="filling"></span>
                        <label>Full name</label>
                    </div>
                    <div class="contents">
                        <input type="email" name="userName" ng-model="user.email" required>
                        <span class="filling"></span>
                        <label>Email</label>
                    </div>
                    <div class="contents">
                        <textarea type="text" name="textarea" ng-model="user.texts" id="" cols="30" rows="10"></textarea>
                        <span class="filling"></span>
                        <label>Content</label>
                    </div>
                    <button class="primary">Submit</button>
                </form>
            </div>
    </div>
</section>
