<section class="full-width-container">
    <div class="single-blog-page">
        <h1 class="title primary-font">Have subdue man deep moveth thing winged void hath sixth.</h1>
        <div class="info-content">
            <img src="img/blog/1.jpg" alt="">
            <h1 class='title'>Pariatur quaerat aperiam laudantium obcaecati perferendis reprehenderit sunt.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis, quia enim soluta, possimus voluptatibus ea nam natus vel sed aspernatur nihil voluptas fugiat pariatur nemo odio atque tempore.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi at porro nobis ducimus saepe aliquam explicabo, expedita consectetur aliquid, optio dolore sunt ipsum adipisci qui laboriosam distinctio quia veritatis corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi at porro nobis ducimus saepe aliquam explicabo, expedita consectetur aliquid, optio dolore sunt ipsum adipisci qui laboriosam distinctio quia veritatis corporis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At exercitationem, tempore aliquid a voluptas architecto, illum cupiditate quibusdam quas odio fuga alias totam, reprehenderit! Assumenda accusamus rem libero quasi quae.</p>
        </div>
        <div class="fab-close"></div>
        <h1 class="title">
            Comments
            
        </h1>
        <div class="comment left-1x">
            <div class="person">
                <img src="img/me-1.jpg" alt="">
                <h5 class="names">Jane smith</h5>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nihil autem qui labore modi consequuntur molestiae reprehenderit alias aut commodi fuga, eveniet incidunt nobis nulla quidem minima, sunt delectus voluptatum.</p>
            </div>
        </div>
        <div class="comment left-2x">
            <div class="person">
                <img src="img/me-1.jpg" alt="">
                <h5 class="names">Jane smith</h5>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nihil autem qui labore modi consequuntur molestiae reprehenderit alias aut commodi fuga, eveniet incidunt nobis nulla quidem minima, sunt delectus voluptatum.</p>
            </div>
        </div>
        <div class="comment left-3x">
            <div class="person">
                <img src="img/me-1.jpg" alt="">
                <h5 class="names">Jane smith</h5>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nihil autem qui labore modi consequuntur molestiae reprehenderit alias aut commodi fuga, eveniet incidunt nobis nulla quidem minima, sunt delectus voluptatum.</p>
            </div>
        </div>
        <div class="comment left-4x">
            <div class="person">
                <img src="img/me-1.jpg" alt="">
                <h5 class="names">Jane smith</h5>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nihil autem qui labore modi consequuntur molestiae reprehenderit alias aut commodi fuga, eveniet incidunt nobis nulla quidem minima, sunt delectus voluptatum.</p>
            </div>
        </div>
        <div class="comment left-1x">
            <div class="person">
                <img src="img/me-1.jpg" alt="">
                <h5 class="names">Jane smith</h5>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nihil autem qui labore modi consequuntur molestiae reprehenderit alias aut commodi fuga, eveniet incidunt nobis nulla quidem minima, sunt delectus voluptatum.</p>
            </div>
        </div>
        <div class="comment left-2x">
            <div class="person">
                <img src="img/me-1.jpg" alt="">
                <h5 class="names">Jane smith</h5>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nihil autem qui labore modi consequuntur molestiae reprehenderit alias aut commodi fuga, eveniet incidunt nobis nulla quidem minima, sunt delectus voluptatum.</p>
            </div>
        </div>
        <div class="info-content">
            <form name='form' class='main-form'>
                <div class="contents">
                    <input type="text" name="userName" ng-model="user.fullname" required>
                    <span class="filling"></span>
                    <label>Full name</label>
                </div>
                <div class="contents">
                    <input type="email" name="userName" ng-model="user.email" required>
                    <span class="filling"></span>
                    <label>Email</label>
                </div>
                <div class="contents">
                    <textarea type='text' name="textarea" ng-model="user.texts" id="" cols="30" rows="10"></textarea>
                    <span class="filling"></span>
                    <label>Email</label>
                </div>
                <button class="primary">Submit</button>
            </form>
        </div>
    </div>
</section>
